Options +FollowSymlinks
AddEncoding gzip gz

RewriteEngine on
RewriteBase /

# compression stuffs
RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule ^(.*)$ $1.gz [QSA,L]

<Files *.css.gz>
ForceType text/css
</Files>

<Files *.js.gz>
ForceType text/javascript
</Files>

# disable the server signature
ServerSignature Off

# preserve bandwidth for PHP enabled servers
<ifmodule mod_php4.c>
    php_value zlib.output_compression 16386
</ifmodule>

# set the default character set
AddDefaultCharset UTF-8
